{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="border-top-2" style="border-top: 2px solid #40c4ff;"></div>

<section class="blog-post-area" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="blog-post-area-style" style="margin: 0px;">
        <div class="col-md-12">

          <h1>Sign Up</h1>

          <p>Already have an account? Then please <a href="{{ login_url }}">
            sign in</a>.</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" style="border: 1px solid silver; border-radius: 10px; box-shadow: 0 0 7px 3px silver; margin-top: 20px; padding:20px;">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
